<!-- templates/utils/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <title>{% block title %} Roy {% endblock %}</title>
</head>
<body>
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Roy</h1>
          <hr class="mt-0 mb-4">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
  </main>
</body>
</html>