<!-- templates/utils/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <title>{% block title %} Roy {% endblock %}</title>
</head>
<body>
  <main>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        {% block pagehead %}
          <div class="col-sm-6">
            <h2 class="mt-4">Roy</h2>
          </div>
          <div class="col-sm-2 text-right mt-4">
            {% if user.is_authenticated %}
              <a class="btn btn-light btn-sm" href="{% url 'logout' %}">Log out</a>
            {% else %}
              <a href="{% url 'login' %}" class="btn btn-light btn-sm">Log in</a>
            {% endif %}
          </div>
        {% endblock %}
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <hr class="mt-0 mb-4">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
  </main>
</body>
</html>